.header{
  width: 103%;
  margin-left: -15px;
}
.logo{
  background-color: Crimson;
  height: 50px;
  margin-top: -25px;
  padding-left: 40px;
}
.logo h1{
  color: white;
  padding-left: 230px;
  margin: 20px;
}
.logo img{
  height: 50px;
}

h1{
  padding-left: 30%;
  color: red;
}
h2{
  color: Indigo;
}
#first{
  background-color:rgba(106, 90, 205,0.3);
  padding-left: 2%;
}
#second{
  background-color:rgba(106, 90, 205,0.3);
  padding-left: 2%;
}
#third{
  background-color:rgba(106, 90, 205,0.3);
  padding-left: 2%;
}
#fourth{
  background-color:rgba(106, 90, 205,0.3);
  padding-left: 2%;
}
#first:hover{
  background-color:rgba(0,0,255,0.3);
}
#second:hover{
  background-color:rgba(0,0,255,0.3);
}
#third:hover{
  background-color:rgba(0,0,255,0.3);
}
#fourth:hover{
  background-color:rgba(0,0,255,0.3);
}

@media (max-width: 1000px){

  .header{
    width: 107.5%;
    letter-spacing: 0px;
    /*margin-left: -25px;*/
  }
  .logo{
      position: center;
      margin-left: 0px;
      padding-left: 70px;
      letter-spacing: 0px;
  }
  .logo h1{
      padding: 0px;
      letter-spacing: 0px;
  }
}
