body{
  background-color: LightSalmon;
  margin-right: 500px;
  margin-left: 0px;
}

.logo{
  background-color: Crimson;
  height: 50px;
  margin-top: -25px;
  margin-left: 0px;
  width: 1800px;
}
.logo h1{
  color: white;
  padding-left: 200px;
  margin: 20px;
}
.logo img{
  height: 50px;
}


.button {
  background-color: DarkRed;
  border: none;
  color: white;
  padding: 25px 35px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
}
.page{
  padding-left: 600px;
  padding-top: 350px;
}
