#web{
  background: url('Images/background.jpg');
  background-position: center;
	background-size: cover;
	background-repeat: none;
	background-attachment: fixed;
	position: absolute;
}
.header{
  height: 100px;

}
.logo{
  background-color: Crimson;
  height: 50px;
  margin-top: -25px;
}
.logo h1{
  color: white;
  padding-left: 200px;
  margin: 20px;
}
.logo img{
  height: 50px;
}
